<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [1]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-01-14 20:32:31--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [         <=>        ]  21.72M   439KB/s    in 52s

2020-01-14 20:33:23 (432 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22776791]

In [2]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [4]:
import pandas as pd

df = pd.read_csv("LoanStats_2018Q4.csv", header=1)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                  60.01             24.0
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [5]:
pd.set_option('display.max_rows', 200)
df.isnull().sum().sort_values()

inq_fi                                             2
delinq_amnt                                        2
chargeoff_within_12_mths                           2
acc_open_past_24mths                               2
inq_last_12m                                       2
total_cu_tl                                        2
total_rev_hi_lim                                   2
max_bal_bc                                         2
open_rv_24m                                        2
open_rv_12m                                        2
total_bal_il                                       2
open_il_24m                                        2
hardship_flag                                      2
open_act_il                                        2
open_acc_6m                                        2
tot_cur_bal                                        2
tot_coll_amt                                       2
acc_now_delinq                                     2
application_type                                   2
policy_code                                        2
mo_sin_old_rev_tl_op                               2
mo_sin_rcnt_rev_tl_op                              2
mo_sin_rcnt_tl                                     2
mort_acc                                           2
total_il_high_credit_limit                         2
total_bc_limit                                     2
total_bal_ex_mort                                  2
tot_hi_cred_lim                                    2
tax_liens                                          2
pub_rec_bankruptcies                               2
pct_tl_nvr_dlq                                     2
num_tl_op_past_12m                                 2
num_tl_90g_dpd_24m                                 2
collections_12_mths_ex_med                         2
num_tl_30dpd                                       2
num_rev_tl_bal_gt_0                                2
num_rev_accts                                      2
num_op_rev_tl                                      2
num_il_tl                                          2
num_bc_tl                                          2
num_bc_sats                                        2
num_actv_rev_tl                                    2
num_actv_bc_tl                                     2
num_accts_ever_120_pd                              2
num_sats                                           2
last_pymnt_amnt                                    2
open_il_12m                                        2
debt_settlement_flag                               2
pub_rec                                            2
open_acc                                           2
grade                                              2
sub_grade                                          2
home_ownership                                     2
inq_last_6mths                                     2
annual_inc                                         2
verification_status                                2
earliest_cr_line                                   2
delinq_2yrs                                        2
issue_d                                            2
addr_state                                         2
zip_code                                           2
title                                              2
loan_status                                        2
pymnt_plan                                         2
installment                                        2
revol_bal                                          2
term                                               2
collection_recovery_fee                            2
loan_amnt                                          2
recoveries                                         2
total_rec_late_fee                                 2
funded_amnt                                        2
funded_amnt_inv                                    2
total_acc                                          2
total_rec_int                                      2
purpose                                            2
total_rec_prncp                                    2
total_pymnt_inv                                    2
total_pymnt                                        2
out_prncp_inv                                      2
out_prncp                                          2
initial_list_status                                2
int_rate                                           2
last_credit_pull_d                                 3
avg_cur_bal                                       15
all_util                                          39
revol_util                                       158
last_pymnt_d                                     161
dti                                              239
mths_since_recent_bc                            1593
bc_open_to_buy                                  1693
percent_bc_gt_75                                1694
bc_util                                         1756
num_tl_120dpd_2m                                2861
mths_since_rcnt_il                              4480
mo_sin_old_il_acct                              4480
emp_length                                     11703
mths_since_recent_inq                          16049
il_util                                        20276
emp_title                                      20944
next_pymnt_d                                   26738
mths_since_last_delinq                         72192
mths_since_recent_revol_delinq                 91622
mths_since_last_major_derog                    99225
mths_since_recent_bc_dlq                      103234
sec_app_open_acc                              111621
sec_app_mort_acc                              111621
sec_app_inq_last_6mths                        111621
sec_app_earliest_cr_line                      111621
revol_bal_joint                               111621
sec_app_open_act_il                           111621
annual_inc_joint                              111621
dti_joint                                     111621
sec_app_collections_12_mths_ex_med            111621
sec_app_chargeoff_within_12_mths              111621
sec_app_num_rev_accts                         111621
sec_app_revol_util                            111879
mths_since_last_record                        112952
verification_status_joint                     113555
sec_app_mths_since_last_major_derog           123247
debt_settlement_flag_date                     127948
settlement_date                               127948
settlement_amount                             127948
settlement_status                             127948
settlement_term                               127948
settlement_percentage                         127948
hardship_status                               128166
deferral_term                                 128166
hardship_amount                               128166
hardship_start_date                           128166
hardship_end_date                             128166
payment_plan_start_date                       128166
hardship_length                               128166
hardship_dpd                                  128166
hardship_loan_status                          128166
hardship_reason                               128166
hardship_payoff_balance_amount                128166
hardship_last_payment_amount                  128166
hardship_type                                 128166
orig_projected_additional_accrued_interest    128193
id                                            128397
url                                           128399
member_id                                     128399
desc                                          128399
dtype: int64

In [6]:
df = pd.read_csv("LoanStats_2018Q4.csv", header=1, skipfooter=2, engine='python')
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                  60.01             24.0
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
df = df.drop(['url', 'member_id', 'desc', 'id'], axis=1)

In [8]:
df['int_rate'].head(10)

0     14.47%
1     10.33%
2     15.02%
3     12.98%
4     16.14%
5     12.98%
6     15.02%
7     16.14%
8     14.47%
9     13.56%
Name: int_rate, dtype: object

In [9]:
print(df['int_rate'][3])
type(df['int_rate'][3])

 12.98%

str

In [11]:
int_rate = ' 12.98%'

# Write a function that can do what we have written above to any 
# string that is passsed to it.
def int_rate_to_float(cell_contents):
  return float(cell_contents.strip().strip('%'))

int_rate_to_float(int_rate)

12.98

In [12]:
new_list = []

for cell in df['int_rate']:
  new_list.append(int_rate_to_float(cell))

new_list[0:10]

df['int_rate_cleaned'] = pd.Series(new_list)

df.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_cleaned
0       6000         6000  ...             24.0            14.47
1      24000        24000  ...              NaN            10.33
2      30000        30000  ...              NaN            15.02
3       8000         8000  ...              NaN            12.98
4      22400        22400  ...              NaN            16.14

[5 rows x 141 columns]

In [13]:
# What type of data is held in
df.dtypes[-5:]
# Look at the datatypes of the last 5 columns

settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
int_rate_cleaned         float64
dtype: object

In [0]:
# APPLY() WILL DO THIS FOR ME IN 1 LINE

df['int_rate_cleaned_from_apply'] = df['int_rate'].apply(int_rate_to_float)

In [15]:
df.head()

   loan_amnt  funded_amnt  ...  int_rate_cleaned int_rate_cleaned_from_apply
0       6000         6000  ...             14.47                       14.47
1      24000        24000  ...             10.33                       10.33
2      30000        30000  ...             15.02                       15.02
3       8000         8000  ...             12.98                       12.98
4      22400        22400  ...             16.14                       16.14

[5 rows x 142 columns]

In [16]:
# Look at the top 20 employment titles
df['emp_title'].value_counts(dropna=False)[:20]

NaN                   20942
Teacher                2090
Manager                1773
Registered Nurse        951
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Truck Driver            387
Operations Manager      387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [17]:
# How many different unique employment titles are there currently?
len(df['emp_title'].value_counts())

43889

In [18]:
len(df['emp_title'].unique())

43890

In [19]:
# How often is the employment_title null?
df['emp_title'].isnull().sum()

20942

In [0]:
# Create some examples that represent the cases that we want to clean up
import numpy as np

examples = ['owner', 'Supervisor', 'Project Manager', np.NaN]

In [23]:
# Write a function to clean up these use cases and increase uniformity.

def clean_title(job_title):
  if isinstance(job_title, str):
    return job_title.title().strip()
  else:
    return "Unknown"

for title in examples:
  print(clean_title(title))

Owner
Supervisor
Project Manager
Unknown

In [24]:
# list comprehensions can combine function calls and for loops over lists
# into one succinct and fairly readable single line of code.
[clean_title(title) for title in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [25]:
# We have a function that works as expected. Lets apply it to our column.
# This time we'll overwrite the original column

df['emp_title'] = df['emp_title'].apply(clean_title)

df.head()

   loan_amnt  funded_amnt  ...  int_rate_cleaned int_rate_cleaned_from_apply
0       6000         6000  ...             14.47                       14.47
1      24000        24000  ...             10.33                       10.33
2      30000        30000  ...             15.02                       15.02
3       8000         8000  ...             12.98                       12.98
4      22400        22400  ...             16.14                       16.14

[5 rows x 142 columns]

In [26]:
# Look at the top 20 employment titles
df['emp_title'].value_counts(ascending=False)[:20]

Unknown               20942
Teacher                2557
Manager                2395
Registered Nurse       1417
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          804
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   424
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [27]:
# How many different unique employment titles are there currently?
len(df['emp_title'].unique())

34899

In [28]:
# How often is the employment_title null (NaN)?
df['emp_title'].isnull().sum()

0

<h1>Assignment Start</h1>

- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
new_term = []

def term_string_to_int(cell_contents):
  return int(cell_contents.strip(' months'))

In [39]:
for cell in df['term']:
  new_term.append(term_string_to_int(cell))

new_term[0:10]

df['term_cleaned'] = pd.Series(new_term)

df.head()

   loan_amnt  funded_amnt  ...  int_rate_cleaned_from_apply term_cleaned
0       6000         6000  ...                        14.47           36
1      24000        24000  ...                        10.33           36
2      30000        30000  ...                        15.02           36
3       8000         8000  ...                        12.98           36
4      22400        22400  ...                        16.14           60

[5 rows x 143 columns]

In [40]:
df['term_cleaned']

0         36
1         36
2         36
3         36
4         60
          ..
128392    36
128393    36
128394    36
128395    36
128396    36
Name: term_cleaned, Length: 128397, dtype: int64

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01

<h2>List of Feature Engineering Techniques</h2>

<ol>
  <li>Imputation</li>
  <li>Handling Outliers</li>
  <li>Binning</li>
  <li>Log Transformation</li>
  <li>One-Hot Encoding</li>
  <li>Grouping Operations</li>
  <li>Feature Split</li>
  <li>Scaling</li>
  <li>Extraction Date</li>  
</ol>